[Unit]
Description=Kanata keyboard remapper
After=graphical.target

[Service]
User=simon
Type=simple
ExecStart=/home/simon/.cargo/bin/kanata --cfg /home/simon/.config/kanata/kanata.kbd
Restart=always
RestartSec=3
Nice=-20

[Install]
WantedBy=graphical.target